body {
    margin: 0;
    padding: 0;
    background-image: url('../resources/fundo.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
}
